
body {
    background: linear-gradient( red, purple, blue);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    width: auto;
}

.wrapper{
    display: flex;
    width:75vw; height: 100%;
    margin:0 auto;
}

header {
    position: fixed;
    display:block;
    z-index: 999;
    background-color: slategray;
    width: 75vw;
    padding: 2em 0em;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding-inline-start: 0px;
}

.menu_item {
    list-style: none;
}

.menu_item > input{
    background-color: green;
    padding: 1.7em 3em;
    border-radius: 1em;
    border-style: none;
    box-shadow: 2px 2px 3px 1px gray;
    outline:none;
}

#menu > span > input:hover{
    background-color: aquamarine;
}

.container {
    position: relative;
    display: block;
    width:100%; height: auto;
    padding:2em;
    margin:8em 0%;

    /*Container確認用*/
    background-color: aquamarine;
}

.contentsBlock {
    position: relative;
    display: flex;
}

.headLine_star {
    position: relative;
    display: inline-block;
    background-color: palevioletred;
    filter:drop-shadow( 5px 4px 0px gray);
    left:0.5em; top: 2em;
    width:4em; height:4em;
    transform:rotateZ(45deg);
}

.headLine_triangle{
    position: relative;
    display: inline-block;
    background:transparent;
    left:0.5em; top: 2em;
    width:0em; height:0em;
    filter:drop-shadow( 5px 4px 0px gray);
    border-bottom: 3.5em solid plum;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
}

.contents {
    position: relative;
    display: block;
    left: 2em;
    width: 90%;
    overflow: hidden;
    margin: 2em;

    /*TEST*/
    background-color: pink;
}

.contents_title {
    position: relative;
    display: block;
    margin: 0em 1em;
}

.contents_item {
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin: 0em 2em;
}

#toTop{
    position:fixed;
    display: inline-block;
    z-index: 999;
    background-color:skyblue;
    border-style: none;
    text-align: center;
    left: 80vw; bottom:7.5vh;
    width:5em; height:5em;
    border-radius: 50%;
    box-shadow: 5px 5px 2px 1px gray;
    outline: none;
}

#toTop:hover{
    background-color:steelblue;
}
